#mainCarousel {
    margin-bottom: 20px;
}

.centermine {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    align-self: center;
}